@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

.dashboard-body {
        font-family: 'Open Sans', 'Noto Sans', sans-serif !important;
        padding: 20px 20px 25px 20px !important; 
        background-color: #CCCCCC !important;
        background: rgb(186,186,186);
        background: linear-gradient(90deg, rgba(99,99,99,1) 30%, rgba(171,172,173,1) 50%, rgba(249,249,249,1) 70%);
        height: 2000px; 
}
text.single-result {
        fill: #333333 !important;
}  
.delta-label {
        fill: #747474 !important; ;
}

.delta-indicator {
        stroke: #747474 !important;
}
.delta-down-indicator {
        stroke: #747474 !important;
}

.dashboard-header {
display: none !important;
}

#row1 {
/*display: inline-block;*/
width: 39%;
margin-right: 30px;
}
#row2 {
/*display: inline-block;*/
width: 30%;
float: left;
margin-right: 10px;
}
#row3 {
/*display: inline-block;*/
width: 29%;
float: left;
margin-left: 20px !important;
}

.dashboard-row {
float: left;
}

#head1 {
	height: 60px;
	display: block !important;
	clear: both;
	float: none;
        background: #FFF !important;
	width: 100% !important;
}
#head2 {
	height: 60px;
	display: block !important;
	clear: both;
	float: none;
	background-color: #B0B0B0 !important;
	width: 100% !important;
}
#head3 {
	height: 60px;
	display: block !important;
	clear: both;
	float: none;
	background-color: #B0B0B0 !important;
	width: 100% !important;
        margin-left: 1%;
}
#head4 {
	height: 60px;
	display: block !important;
	clear: both;
	float: none;
	background-color: #B0B0B0 !important;
	width: 100% !important;
        margin-left: 1%;
}
#head5 {
        height: 60px;
	display: block !important;
	clear: both;
	float: none;
	background-color: #B0B0B0 !important;
	width: 100% !important;
        margin-left: 1%;
}

.dashboard-row .dashboard-panel {
	background: transparent !important;
}

#totalCountersPanel {
        height: min-content;
        width: 69% !important;
     /*   height: min-content !important; */
        margin-right: 1% !important;
}
#totalCountersPanel .highcharts-background {
        height: 698px !important;
        fill: #FFF !important;
} 
#totalCountersPanel .highcharts-plot-background {
        fill: #FFF !important;
}
#totalCountersPanel .dashboard-panel {
        min-height: 698px !important;
        height: min-content !important;
}
#totalCountersPanel .ui-resizable {
        position: relative;
        height: 698px !important;
}
#byTimeCountersPanel {
        width: 30% !important;
        height: 342px !important;
        margin-left: 0px !important; 
}

#byTimeCountersPanel .dashboard-panel {
        min-height: 340px !important;
        margin-top: 15px !important;
        margin-right: 0px !important;
} 
#byTimeCountersPanel .ui-resizable {
        position: relative;
        height: 232px !important;
}
#byTimeGraphCountersPanel {
        width: 30% !important;
        height: 342px !important;
        margin-left: 0px !important;
        margin-top: 42px !important;
}
#byTimeGraphCountersPanel .dashboard-panel {
        margin-right: 0px !important; 
        height: min-content !important;
}
#byTimeGraphCountersPanel .ui-resizable {
        position: relative;
        height: 284px !important;
}
#horseshoe_meter_app\.horseshoe_meter\.byTimeGraphCountersPanel {
        background-color: #FFF !important; 
}
#caseInvestigationTime {
	width: 25% !important;
	clear: both;
}
#caseInvestigationTime .ui-resizable {
        position: relative;
        height: 197px !important; 
}
#SourcesUnderSurveillance {
	width: 25% !important; 
        margin-left: 1% !important;
}
#SourcesUnderSurveillance .dashboard-panel {
        min-height: 295px !important; 
}
#SourcesUnderSurveillance .ui-resizable {
        position: relative;
        height: 217px !important;
}
#NumberEventsperSec {
	width: 22% !important;
        margin-left: 1% !important;
        min-height: max-content;
}
#NumberEventsperSec .dashboard-panel {
        min-height: 210px !important; 
}
#NumberEventsperSec .ui-resizable {
        position: relative;
        height: 187px !important;
}
#IncidentsPerWeek {
	width: 25% !important;
        margin-left: 1% !important;
}
#IncidentsPerWeek .dashboard-panel {
        margin-right: 0px !important;
        min-height: 318px !important; 
}
#IncidentsPerWeek .ui-resizable {
        position: relative;
        height: 217px !important;
}
.dashboard-row .dashboard-panel::before {
	display: unset !important;
}
.dashboard-row .dashboard-cell {
	float: left;
        margin-top: 25px !important;
}
#TopIncidentsWeek {
	width: 74% !important;
        clear: both;
        font-size: 29px !important;
}
#TopIncidentsWeek .dashboard-panel {
        min-height: 624px !important;
} 
.dashboard-row .dashboard-panel .panel-body .results-table table tr > td:last-child, .dashboard-row .dashboard-panel .panel-body .results-table table tr > th:last-child, .dashboard-row .dashboard-panel .panel-body .table th:last-child, .dashboard-row .dashboard-panel .panel-body .table td:last-child {
        padding-right: 12px !important;
        padding-top: 60px !important;
} 
.dashboard-row .dashboard-panel .panel-body .table-row-expanding > tbody > tr > td.expands a, .dashboard-row .dashboard-panel .panel-body .table-row-expanding th.col-info, .dashboard-row .dashboard-panel .panel-body .results-table table tr > td:first-child, .dashboard-row .dashboard-panel .panel-body .results-table table tr > th:first-child {
        padding-left: 12px !important;
        padding-top: 60px !important;
}
#CasesStartedAuto {
	width: 25% !important;
        min-height: min-content !important;
        margin-left: 1% !important;
}
#CasesStartedAuto .dashboard-panel {
        min-height: 270px !important; 
        margin-right: 0px !important;
}
#CasesStartedAuto .ui-resizable {
        position: relative;
        height: 164px !important;
}
#CorrelationEvents {
        width: 25% !important;
        min-height: min-content !important;        
        margin-left: 1% !important;
}
#CorrelationEvents .dashboard-panel {
        min-height: 303px !important; 
}
#CorrelationEvents .ui-resizable {
        position: relative;
        height: 160px !important;
}
#DistributionOfAttacksOnWeb {
        width: 100% !important; 
}
#DistributionOfAttacksOnWeb .ui-resizable {
        position: relative;
        height: 699px !important;
}
#InLockdownMode {
        width: 100% !important;
}
#InLockdownMode .ui-resizable {
        position: relative;
        height: 256px !important;
}
#byCritCountersPanel {
        width: 49% !important;
        margin-right: 1% !important;
        margin-top: 37px !important;
}
#byCritCountersPanel .ui-resizable {
        position: relative;
        height: 222px !important;
}
#ResourcesEITO {
        width: 49% !important;
        margin-left: 1% !important;
        margin-top: 38px !important;
}
#ResourcesEITO .ui-resizable {
        position: relative;
        height: 202px !important;
        padding-top: 20px !important;
}
#panel1 {
        width: 100% !important;
        clear: both !important;
        min-height: min-content !important;     
}
#panel1 .dashboard-panel {
        min-height: 264px !important;
        background-color: #DDD !important;
}       
#panel1 .ui-resizable {
        position: relative;
        height: 251px !important;
}
#panel1 .highcharts-background {
        height: 698px !important;
        fill: #DDDDDD !important;
} 
#panel1 .highcharts-plot-background {
        fill: #DDDDDD !important;
}
#TrafficKDP {
        width: 49% !important;
        margin-left: 12px !important;
}
#TrafficKDP .ui-resizable {
        position: relative;
        height: 175px !important;
}
#attack_count {
        width: 48% !important;
        margin-left: 1% !important;
} 
#attack_count .ui-resizable {
        position: relative;
        height: 175px !important;
}
#attack_count_by_resource {
        width: 49% !important;
        margin-left: 12px !important;
        margin-bottom: 30px !important;
}
#attack_count_by_resource .ui-resizable {
        position: relative;
        height: 178px !important;
}
#ddos_resources {
        width: 48% !important;
        margin-left: 1% !important;
        margin-bottom: 30px !important;
} 
#ddos_resources .ui-resizable {
        position: relative;
        height: 208px !important;
}
#vulns_critical {
        width: 49% !important;
        margin-left: 12px !important;
        clear: both;
}
#vulns_critical .ui-resizable {
        position: relative;
        height: 136px !important;
}
#vulns_resources {
        width: 48% !important;
        margin-left: 1% !important;
}
#vulns_resources .ui-resizable {
        position: relative;
        height: 166px !important;
}
#vulns_resources_eito {
        width: 49% !important;
        margin-left: 12px !important;
        margin-bottom: 30px !important;
}
#vulns_resources_eito .ui-resizable { 
        position: relative;
        height: 150px !important;
}
#vulns_total {
        width: 48% !important;
        margin-left: 1% !important;
        margin-bottom: 30px !important;
        clear: both;
}
#vulns_total .ui-resizable {
        position: relative;
        height: 120px !important;
}
#ksc_servers {
        width: 49% !important;
        margin-left: 12px !important;
        margin-bottom: 30px !important;
}
#ksc_servers .ui-resizable {
        position: relative;
        height: 150px !important;
}
/*
 ***************************************************************
 * */

/* .dashboard-row .dashboard-panel h2.panel-title {
        word-wrap: break-word;
        text-rendering: initial;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 15px !important;
        padding-right: 55px !important;
        line-height: 1;
        font-weight: normal;
} */ 
.dashboard-row .dashboard-panel h2.panel-title {
        font-size: 16px;
        line-height: 1;
        font-weight: normal;
        margin: 0;
        word-wrap: break-word;
        text-rendering: initial;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-top: 15px !important;
        margin-bottom: 0px !important;
        margin-top: 15px !important;
        padding-bottom: 5px !important;
        padding-right: 55px !important;
        padding-left: 12px !important;
}
#byTimeCountersPanel * { 
        background-color: #FFF !important;
}  

#week {
        background-repeat: no-repeat;
        background-image: url('https://cdn-icons-png.flaticon.com/64/998/998433.png');
        background-position: left 5% top 3% !important;
        padding-left: 81px !important;
        width: 80% !important;
        padding-top: 20px !important;
    } 

#byTimeGraphCountersPanel * { 
        background-color: #FFF !important;
        min-height: min-content !important;
} 

#byCritCountersPanel * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}

/* #crit {
        background-repeat: no-repeat;
        background-image: url('https://cdn-icons-png.flaticon.com/64/10435/10435197.png');
        padding-right: 16% !important; 
        display: grid;
        align-items: start;
        background-position: left 5% top 3% !important;
        padding-top: 5% !important; 
        width: 60% !important;
        padding-left: 21% !important;
} */
/* #web {
        background-repeat: no-repeat;
        background-image: url('https://cdn-icons-png.flaticon.com/64/10435/10435197.png');
        display: grid;
        align-items: start;
        background-position: left 5% top 3% !important;
        width: 60% !important;
        padding-left: 21% !important;
} */
#kdp {
        background-repeat: no-repeat;
        background-image: url('https://cdn-icons-png.flaticon.com/64/10106/10106349.png');
        padding-right: 20% !important;
        background-position: left 5% top 3% !important;
        width: 60% !important;
        padding-left: 20% !important;
}
#time {
        width: 100% !important;
} 
#see {
        width: 90% !important;
        padding-top: 10px !important;
        padding-left: 30px !important;
}
#sek {
        width: 90% !important;
        padding-top: 10px !important;
        padding-left: 25px !important;
} 
#inch {
        width: 100% !important;
        padding-top: 10px !important;
}
#avto {
        width: 80% !important;
        padding-top: 8% !important;
        padding-left: 35px !important;
} 
#korr {
        width: 90% !important;
        padding-top: 10% !important;
        padding-left: 35px !important;
}
#InLockdownMode * { 
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}

#horseshoe_meter_app\.horseshoe_meter\.InLockdownMode {
        background-color: #DDDDDD !important;
}

#totalCountersPanel * { 
        background-color: #FFF;
        min-height: min-content !important;
}

#caseInvestigationTime * { 
        background-color: #FFF;
        min-height: min-content !important;
}

#DistributionOfAttacksOnWeb * { 
        background-color: #DDDDDD !important;
        min-height: min-content !important;
        margin-right: 0px !important;
} 
#DistributionOfAttacksOnWeb  .highcharts-background {
        fill: #DDDDDD !important;
} 
#DistributionOfAttacksOnWeb  .highcharts-plot-background {
        fill: #DDDDDD !important;
}
#ResourcesEITO * { 
        background-color: #DDDDDD;
        min-height: min-content !important;
}

/* #EITO {
        background-repeat: no-repeat;
        background-image: url('https://cdn-icons-png.flaticon.com/64/10106/10106349.png');
       padding-right: 20% !important;
        /* display: grid;
        align-items: start; 

        background-position: left 5% top 3% !important;
        padding-top: 4% !important;
        width: 60% !important;
} */
#TopIncidentsWeek * { 
        background-color: #FFF !important; 
        color: #3C444D !important;
        font-family: 'Open Sans' !important;
        border: #333333; 
        min-height: min-content !important;
} 
.table td, .table th {
        padding-bottom: 11px !important;

}
#IncidentsPerWeek * { 
        background-color: #FFF;
        min-height: min-content !important;
} 
#SourcesUnderSurveillance * { 
        background-color: #FFF !important; 
        min-height: min-content !important;
}
#CasesStartedAuto * { 
        background-color: #FFF !important;
        min-height: min-content !important;
} 
#NumberEventsperSec * { 
        background-color: #FFF !important;
        min-height: min-content !important;
/*        margin-right: 5px;*/
} 
#CorrelationEvents * {
        background-color: #FFF !important;
        min-height: min-content !important;
} 
#panel1 * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#TrafficKDP * { /* TrafficKDP */
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#ddos_resources * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#attack_count_by_resource * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#attack_count * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
} 
#vulns_critical * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#vulns_resources * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#vulns_resources_eito * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#vulns_total * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#ksc_servers * {
        background-color: #DDDDDD !important;
        min-height: min-content !important;
}
#pie g[transform] text {
        font-size: 30px !important;
      }
#bar g[transform] text {
        font-size: 15px !important;
}
.panel-title {
        font-size: 30px !important;
        margin: 10px !important;
        font-family: 'Noto Sans' !important;
        color: #333333 !important;
}
